html {
  box-sizing: border-box;
  background-color: rgb(3, 115, 219);
}

body {
  margin: 0;
  padding: 0;
  background-color: #242527;
  color: rgb(220, 240, 255);
}

#flex-container-a {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header, footer {
  position: fixed;
  left: 0vw;
  font-weight: bold;
  color: rgb(50, 245, 225);
}

header {
  top: 0px;
  height: 6.5vh;
  font-size: 2.25vh;
  z-index: 2;
}

.side-header {
  text-align: center;
}

.side-title {
  position: relative;
  top: 15%;
  font-size: 2.5vh;
}

#filter-header {
  float: left;
  width: 20vw;
  height: 6.5vh;
  background-color: rgb(1, 51, 143);
}

#nav-bar {
  float: left;
  width: 60vw;
  height: 6.5vh;
  background-color: rgb(3, 115, 219);
}

  #logo {
    position: relative;
    top: 10%;
    left: 4%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vh;
    color: rgb(220, 240, 255);
  }

#menu-container {
  position: fixed;
  top: 0vh;
  left: 42vw;
  width: 42.5vh;
  min-height: 6.5vh;
  max-height: min-content;
  padding: 0vh 4vh 4vh;
}

#menu {
  position: inherit;
  top: 1.4vh;
  left: inherit;
  width: inherit;
  padding: 0vh 4vh;
  text-align: center;
}

.menu-item {
  margin: 0% 13%;
}

.menu-item:hover {
  color: rgb(215, 255, 245);
}

#menu-content {
  position: inherit;
  top: 6.5vh;
  left: inherit;
  width: inherit;
  max-height: fit-content;
  padding: 4vh;
  background-color: rgb(3, 115, 219);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: normal;
}

  .active {
    color: rgb(215, 255, 245);
  }

  .inactive {
    visibility: hidden;
  }

#list-header {
  float: left;
  width: 20vw;
  height: 6.5vh;
  background-color: rgb(1, 51, 143);
}
  
footer {
  bottom: 0px;
  left: 20vw;
  width: 60vw;
  height: 4.5%;
  background-color: rgb(3, 115, 219);
  text-align: center;
}

  #footer-text {
    margin: .6% 0% 0% 0%;
    font-size: 1vh;
  }

#flex-container-b {
  display: flex;
  flex-direction: row;
}

div#filter {
  position: fixed;
  top: 6.5vh;
  left: 0%;
  height: 90vh;
  width: 19vw;
  overflow-y: scroll;
  padding: 3vh .5vw;
  background-color: rgb(88, 188, 255);
}

  h3 {
    margin-top: 23px;
    margin-bottom: 5px;
  }

  p {
    margin-top: 0px;
  }

  h4 {
    margin-top: 17px;
    margin-bottom: 5px;
  }

  button {
    padding: 1.75% 3.75%;
    border-radius: 5px;
    border-style: hidden;
    background-color: rgb(3, 115, 219);
    font-family: inherit;
    font-size: large;
    color: mintcream;
  }

  button:hover {
    background-color: rgb(5, 132, 255);
  }

svg {
  position: fixed;
  top: 6.5%;
  left: 20vw;
  width: 58vw;
  padding: 4% 1%;
  overflow: scroll;
  z-index: 1;
}

#metro-list {
  position: fixed;
  top: 6.5vh;
  right: 0%;
  height: 90vh;
  width: 19vw;
  overflow-y: auto;
  padding: 2vh .5vw;
  background-color: rgb(88, 188, 255);
}

  .list-item {
    width: 80%;
    padding: 2.5%;
    margin: 2.5% auto;
    border-radius: 6px;
    border-style: hidden;
    background-color: rgb(3, 115, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
  }

li {
  list-style: none;
}
