/* GLOBAL */

html {
  box-sizing: border-box;
  background-color: rgb(0, 115, 225);
}

body {
  margin: 0;
  padding: 0;
  background-color: #202226;
}

li {
  list-style: none;
}

button {
  padding: 1.75% 3.75%;
  border-radius: 5px;
  border-style: hidden;
  background-color: rgb(0, 115, 225);
  font-family: inherit;
  font-size: large;
  color: rgb(210, 230, 245);
}

button:hover, .highlighted {
  background-color: rgb(32, 141, 250);
}

#flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}


/* HEADER/FOOTER */

header, footer {
  position: fixed;
  left: 0vw;
  background-color: rgb(0, 115, 225);
  font-weight: bold;
  color: rgb(2, 228, 179);
}

header {
  top: 0px;
  height: 6.5vh;
  width: 100vw;
  font-size: 2.25vh;
  z-index: 2;
}

  .side-header {
    float: left;
    text-align: center;
    height: 6.5vh;
    background-color: rgb(1, 51, 143);
  }

  .side-title {
    position: relative;
    top: 19%;
    font-size: 2.4vh;
  }

  #filter-header {
    width: 20.1vw;
  }

  #filter-title {
    padding-right: 1vw;
  }

  #list-header {
    width: 20vw;
  }
  
  #list-title {
    padding-left: 1vw;
  }

  #menu-bar {
    float: left;
    width: 59.9vw;
    height: 6.5vh;
  }

    #logo {
      position: relative;
      top: 10%;
      left: 4%;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 4vh;
      color: rgb(245, 250, 255);
    }

  #menu-container {
    position: fixed;
    top: 0vh;
    left: 42vw;
    width: 42.5vh;
    height: 6.5vh;
    padding: 0vh 4vh;
  }

    .menu-active {
      color: rgb(215, 255, 245);
    }

    .menu-inactive {
      visibility: hidden;
    }

    #menu {
      position: inherit;
      top: 1.55vh;
      left: inherit;
      width: inherit;
      padding: inherit;
      text-align: center;
    }

      .menu-item {
        margin: 0% 13%;
      }

      .menu-item:hover {
        color: rgb(215, 255, 245);
      }

    #menu-content {
      position: inherit;
      top: 6.5vh;
      left: inherit;
      width: inherit;
      max-height: fit-content;
      padding: 3vh 4vh 4vh;
      background-color: rgb(3, 115, 219);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-weight: normal;
    }

      #menu-login {
        text-align: center;
      }

      #menu-login h3 {
        margin: 0vh 0vh 1vh;
      }

      #menu-login label {
        display: inline-block;
      }

        .menu-inputs-row {
          text-align: justify;
        }

        .menu-inputs-row::after {
          content: '';
          display: table;
          clear: both;
        }

          .col-25 {
            float: left;
            width: 33%;
            margin: 2vh 0vh 0vh 3vh;
          }

          .col-75 {
            float: left;
            width: 48%;
            margin-top: 2vh;
          }

        #menu-submit {
          padding: 1% 3% 1.35%;
          margin-top: 3vh;
          border-radius: 5px;
          border-style: hidden;
          background-color: rgb(0, 207, 162);
          font-family: inherit;
          font-size: large;
          color: rgb(215, 255, 245);
        }

footer {
  bottom: 0px;
  left: 20vw;
  width: 60vw;
  height: 4.5%;
  text-align: center;
}

  #footer-text {
    margin: .6% 0% 0% 0%;
    font-size: 1vh;
  }


/* SIDE BARS */

#flex-sub-container {
  display: flex;
  flex-direction: row;
}

#filter-container, #list-container {
  position: fixed;
  top: 6.5vh;
  height: 88vh;
  width: 17.5vw;
  padding: 2.75vh 1.25%;
  background-color: rgb(88, 188, 255);
}

#filter-container {
  left: 0%;
  overflow-y: scroll;
  line-height: 1.5em;
  color: rgb(245, 250, 255);
}

  #filter-container h3 {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  #filter-container h4 {
    margin-top: 19px;
    margin-bottom: 7px;
  }

  #filter-container p {
    margin-top: 0px;
  }

#list-container {
  right: 0%;
  overflow-y: auto;
}

  #list-container h3 {
    margin-top: 0%;
  }

  #list-msg {
    padding: 0% 8%;
    color: rgb(1, 51, 143);
    font-weight: bolder;
    text-align: left;
    word-spacing: -3px;
  }

  .list-item {
    width: 92%;
    padding: 4% 7%;
    margin: 1.5% 4% 4%;
    font-family: inherit;
    font-size: 80%;
    text-align: left;
  }


/* MAP */

svg {
  position: fixed;
  top: 6.5%;
  left: 20vw;
  width: 58vw;
  padding: 4% 1%;
  overflow: scroll;
  z-index: 1;
}

  #chosen-msas {
    fill: rgb(0, 122, 112);
    stroke: rgb(0, 122, 112);
  }

  /* #chosen-msas title {   -- NOT WORKING! --
    background: none;
  } */

  #chosen-msas g:hover, #highlighted-msa {
    fill: rgb(115, 255, 210);
    stroke: rgb(115, 255, 210);
  }

  #not-chosen-msas {
    fill: #97989E;
    stroke: #97989E;
  }

  #states {
    fill: #A7A8AE;
    stroke: #A7A8AE;
  }

  #state-lines {
    fill: none;
    stroke: #202226;
  }
